<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="Bookmark" href="favicon.ico" />
    <link rel="Shortcut Icon" href="favicon.ico" />
    <title>用户列表</title>
    <link href="../../content/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../content/css/yasuo.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid ">

        <div class="layui-card">
            <div class="layui-card-header">
                <span><i class="layui-icon layui-icon-app"></i> 网站设置</span>
                <span class="layui-breadcrumb yasuo-crumb">
                    <a href="">首页</a>
                    <a href="">国际新闻</a>
                    <a href="">亚太地区</a>
                    <a><cite>正文</cite></a>
                </span>
            </div>
            <div class="layui-card-body">
                <div class="yasuo-search-box">
                    <div class="yasuo-search-header">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline yasuo-button-group">
                                <button type="button" class="layui-btn">查询 <i class="layui-icon layui-icon-search"></i></button>
                                <button type="button" class="layui-btn layui-btn-primary">更多 <i class="layui-icon layui-icon-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="yasuo-search-more layui-hide">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="User" name="User" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-col-space5">
                    <div class="layui-col-md6">
                        <div class="layui-btn-group">
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">全选</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">增加</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">编辑</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">删除</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">导出</button>
                            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">打印</button>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md12">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>昵称</th>
                                    <th>加入时间</th>
                                    <th>签名</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>贤心</td>
                                    <td>2016-11-29</td>
                                    <td>人生就像是一场修行</td>
                                </tr>
                                <tr>
                                    <td>许闲心</td>
                                    <td>2016-11-28</td>
                                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                </tr>
                                <tr>
                                    <td>贤心</td>
                                    <td>2016-11-29</td>
                                    <td>人生就像是一场修行</td>
                                </tr>
                                <tr>
                                    <td>许闲心</td>
                                    <td>2016-11-28</td>
                                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                </tr>
                                <tr>
                                    <td>贤心</td>
                                    <td>2016-11-29</td>
                                    <td>人生就像是一场修行</td>
                                </tr>
                                <tr>
                                    <td>许闲心</td>
                                    <td>2016-11-28</td>
                                    <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="../../content/lib/layui/layui.all.js" charset="utf-8"></script>
    <script src="../../content/js/index.js"></script>

</body>
</html>
